[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
a2wsgi = "*"
starlette = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mccabe = "*"
pytest-pythonpath = "*"
pytest-sugar = "*"
tox = "*"

[packages]
rigor = {editable = true, path = "."}

[version]
python_version = "3.7"
